*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
    color: black;
    
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%;
}
.boton{
    display: inline-block;
    margin-top: 1rem;
    border-radius:50rem;
    background-color: #3ec429;
    color: white;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.boton:hover{
    background-color: #333;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: #fff;
    padding: 1.5rem 4%;
    display: flex;
    align-items: center;
    justify-content: none;
    z-index: 1000;
    box-shadow: 0 0.1rem 0.1rem #555;
}
header .logo{
    
    background: rgb(209,202,41);
    background: radial-gradient(circle, rgba(209,202,41,0.8687850140056023) 0%, rgba(20,194,14,1) 60%, rgba(124,180,37,1) 100%);    
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent; 
    font-size:4rem;
    font-weight: bold; 
    margin-right: 3rem;
    font-family: 'EB Garamond', serif;
    font-family: 'Galada', cursive;
    padding: auto;
}

header .bienvenido-nombre{
    font-size: 2rem;
}

.principal{
    margin-top: 9rem;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: #eee;
    padding: 2rem;
    display: grid;
    
    grid-template-columns: 30rem auto 15rem;
    gap: 3rem;
    
}

.principal .saldo{
    background-color: #fff;
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 15rem;
    display: block;
    align-items: center;
    margin: 0 auto;
    
}
.principal .saldo .saldo-actual{
    align-items: center;
}
.principal .saldo .saldo-actual h1{
    font-size: 1.5rem;
    padding: 1rem;
    color: #555;
}
.principal .saldo .monto h1{
    font-size: 4rem;
    
}
.principal .ultimos-movimientos{
    margin: 0 auto;
    width: 100%;
}
.principal .ultimos-movimientos .titulo{
    background-color: #fff;
    border: 1.5rem solid #fff;
    border-radius: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    height: 60px;
    
}

.principal .ultimos-movimientos .contenedor-movimientos{
    background-color: #fff;
    border: 1.5rem solid #fff;
    border-radius: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    
}
.principal .ultimos-movimientos .contenedor-movimientos .movimientos{
    background-color: #fff;
    border: 1.5rem solid #fff;
    border-radius: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.5);
    font-size: 1.5rem;
    margin: 0.5rem;
    margin-bottom: 1rem;    
    display: flex;
    justify-content: space-between;
}
.principal .ultimos-movimientos .contenedor-movimientos .movimientos span{
    font-size: 2rem;
    color: black;
    font-weight: bolder;
}
.principal .ultimos-movimientos .contenedor-movimientos a{
    font-size: 1.4rem;
    color : #333;
    padding: 1.5rem;
    font-weight: bold;
    
}

.principal .ingresos-gastos{

    display: block;
}

.principal .ingresos-gastos .gastos .gasto{
    background-color: #fff;
    width: 100%;
    position: relative;
    border: 1.5rem solid #fff;
    border-radius: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 10rem;
    text-align: center;
    margin-bottom: 2rem;
    
    display: grid;
    place-items: center;
    
}

/*despliegue del form start*/
.principal .ingresos-gastos .gastos .input-gastos{
    background-color: #fff;
    width: 100%;
    position: relative;
    border: 1.5rem solid #fff;
    border-radius: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    
    display: block;
    place-items: center;
    text-align: center;
    margin-bottom: 2rem;
    display: none;

}

.principal .ingresos-gastos .gastos .input-gastos .row form .box{
    border: 0.1rem solid #eee;
    margin-bottom: 1rem;
    width: 10rem;
    padding: 1rem; 
}

.principal .ingresos-gastos .gastos .input-gastos .row form .box:focus{
    border-color:#3ec429 ;
}

/*despliegue del form end*/



.principal .ingresos-gastos .ingresos .ingreso{
    background-color: #fff;
    width: 100%;
    position: relative;
    border: 1.5rem solid #fff;
    border-radius: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 10rem;
    display: grid;
    place-items: center;
    text-align: center;
    margin-bottom: 2rem;
}

/*despliegue del form start*/
.principal .ingresos-gastos .ingresos .input-ingresos{
    background-color: #fff;
    width: 100%;
    position: relative;
    border: 1.5rem solid #fff;
    border-radius: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    
    
    place-items: center;
    text-align: center;
    margin-bottom: 2rem;
    display: none;

}

.principal .ingresos-gastos .ingresos .input-ingresos .row form .box{
    border: 0.1rem solid #eee;
    margin-bottom: 2rem;
    width: 10rem;
    padding: 1rem; 
}

.principal .ingresos-gastos .ingresos .input-ingresos .row form .box:focus{
    border-color:#3ec429 ;
}

/*despliegue del form end*/





